ul {
	display: flex;
	flex-direction: column;
	flex: 1;

	@media (min-width: 835px) {
		flex-direction: row;
		flex-wrap: wrap;
	}

	li {
		flex-basis: 100%;
		box-sizing: border-box;

		@media (min-width: 835px) {
			flex-basis: 50%;
		}

		@media (min-width: 1200px) {
			flex-basis: 33.333%;
		}

		@media (min-width: 1800px) {
			flex-basis: 25%;
		}
	}

	&.genres {
		justify-content: center;
		flex-direction: row;

		li {
			flex-basis: unset;
			color: var(--text);
		}
	}

	img {
		width: 100%;
		height: auto;
		aspect-ratio: 6 / 4;
	}

	a {
		text-decoration: none;
		color: var(--color-text);
	}

	h2 {
		margin: 0;
		text-align: center;
		padding: 0 1rem;
	}
}
